button.nav-link{
    background:rgb(199, 197, 197);
    border-radius: 0;
    border: none;
    color: #333;

    &:disabled:not(.active){
        color: #333;
        background:rgb(199, 197, 197);
    }
}